body{
    margin: 0;   /*внешний отступ*/
    padding: 0;  /*внутренний отступ*/
    background: #000;
	color: #232323;
	height: 100%;
	width: 100%;
}

/* .marquee-infinite {
    margin: 30px auto;
    border: 1px solid #000;
    max-width: 60%;
    
}


.marquee-infinite div {
    display: flex;
    width: 200%;
    animation: marquee-infinite 5s linear infinite;
}

.marquee-infinite h1 {
    white-space: nowrap;
    width: 100%;
}

@keyframes marquee-infinite {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
} */





.marquee-container{
    display: flex;
    align-items: center;
    background: #000000;
    overflow: hidden;
    /* border-bottom: 2px dashed white  ;  */
    border: none;
    height: 73px; 
}

.marquee{
   

    white-space: nowrap;
    color: black;
    text-shadow: 3px 4px 2px rgba(255, 205, 205, 0.25);
    -webkit-text-stroke: 0.4px #FFFFFF;
    font-size: 40px;
    /* font-family: Inter; */
    font-family: Kanit;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    animation: marquee 12s infinite linear;
}

.marquee:after{
    content: " → Японская атмосфера → 和の雰囲気 → Японская атмосфера → 和の雰囲気 → Японская атмосфера";
}

@keyframes marquee{
    0% {
        transform: translateX(-50.8%)
    }
    100% {
        transform: translateX(0)
    }
}

.border {
    height: 1px;
    background-color: #FFFFFF;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    text-align:end ;
}

.menu a {
    text-decoration: none;
    /* color: white; */
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-family: Better VCR;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.menu li {
    list-style: none;
    padding-bottom: 10px;
}
.list_menu {
    margin-top: 104px;
    width: 659px;
}

.info {
    display: flex;
    width: 1078px;
    height: 433;
    text-align: left;
    color: #FFFFFF;
    font-size: 20px;
    font-family: Better VCR;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    margin-top: 140px; 
}
