body {
  background-color: grey;
}
.input {
    width: 50px;
    height: 20px;;
}
#root {
    /* height: 320px; */
}

#fire {
    font-size: 2em;
    line-height: 1em;
  }
  
  .fire-char {
    display: inline-block;
    animation: flicker 0.1s infinite alternate;
    /* transform: scaleX(-1); */
    /* transform: scaleY(-1); */
  }
  
  /* @keyframes flicker {
    0% {
      opacity: 1;
    }
    80% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fire-char-intensity-1 {
    color: black;
  }
  
  .fire-char-intensity-2 {
    color: black;
  }
  
  .fire-char-intensity-3 {
    color: black;
  } */

  /* body,
table,
td,
pre {
	border-spacing: 0;
	margin: 0;
	padding: 0;
}
body{
	background: #000;
	color: #232323;
	height: 100%;
	width: 100%;
}
pre {
	font-weight: bold;
}
a {
	color: #232323;
}
a:hover {
	color: #232323;
}
address {
	background: #000;
	bottom: 10px;
	font-family: Georgia, serif;
	font-style: normal;
	position: absolute;
	right: 10px;
	text-align: right;
} */
.image {
  /* background-color: aqua; */
  /* filter: invert(99%) sepia(44%) saturate(0%) hue-rotate(56deg) brightness(110%) contrast(101%); */
}

.game-container {
  width: 400px;
  height: 400px;
  background-color: #f2f2f2;
  position: relative;
}

.score-zone {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 255, 0, 0.5); /* Задайте цвет и прозрачность по вашему усмотрению */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}

.circle {
  width: 50px;
  height: 50px;
  /* background-color: #ff0000; */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: moveCircle 1s linear infinite;
}

@keyframes moveCircle {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 50px);
  }
}

.score-count {
  font-family: Inter;
  font-size: 60px;
  color: white;
}

.start-game{
  width: 100px;
  height: 30px;
  
}