#game-container {
  width: 800px;
  height: 200px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#drum {
  width: 80px;
  height: 80px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  transform: translateX(-50%);
  transition: left 0.2s;
  cursor: pointer;
  z-index: 2;
}

#drum:hover {
  background-color: darkred;
}

#hit-zone {
  width: 100px;
  height: 200px;
  position: absolute;
  left: 130px; /* Измененное значение */
  top: 0;
  cursor: pointer;
  opacity: 0.3;
  background-color: blue;
}

.ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: left 3s;
}
