body {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
}

.page-name{
    color: #FFF;
    font-size: 25px;
    font-family: Better VCR;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px; 
}

.menu{
    color: #FFF;
    text-align: right;
    font-size: 30px;
    font-family: Better VCR;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 17px 0 auto;
    /* cursor: pointer; */
    z-index: 2;
}

.menu-burger {
    width: 39px;
    height: 24px;
    margin-right: 17px;
    margin-bottom: 10px;
}

#check-menu {
    display: none;
}

.burger-line {
    width: 40px;
    height: 2px;
    background-color: #FFF;
    position: absolute;
    transition: .5s all;
}
.first {
    /* margin-top: 15px; */
    top:20px
}

.second{
    top:30px
}
.third {
    /* margin-bottom: 15px; */
    top:40px
}

.fourth {
    top:30px
}


.burger-line-wrapper {
    position: relative;
    width: 35px;
    height: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-around; */
    margin-right: 25px;
    cursor: pointer;
}

.burger-menu {
    display: block;
    position: absolute;
    width: 100%;
    transform:translateY(100%);
    bottom: 0;
    left: 0;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    /* overflow-x: auto; */
    /* overflow-y: auto; */
    transition: .5s all;
}

.burger-menu-nav{
    display: block;
    width: 100%;
    padding: 10px;
    /* color: white; */
    text-decoration: none;
    border-bottom:  1px dashed white;
    background-color: black;
    color: #FFF;
    font-size: 63px;
    font-family: Better VCR;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-left: 50px;  */
    text-align: left;
    padding-left: 90px;
    /* padding-bottom: 40px; */
}

#japan-flag {
    margin-left: 8px;
    display: none;
    width: 48px;
    height: 48px;
}

.last-nav {
    border: none;
}

#check-menu:checked ~ .burger-menu{
    max-height: 100vh;
    font-size: 16px;
}

#check-menu:checked ~ .burger-line-wrapper .first {
    display: none;
}

#check-menu:checked ~.burger-line-wrapper .second {
    transform: rotate(45deg);
    /* width: 45px; */
    /* left: 10px; */
}

#check-menu:checked ~.burger-line-wrapper  .third {
    display: none;
}

#check-menu:checked ~.burger-line-wrapper  .fourth {
    transform: rotate(-45deg);
}

.nav-bar{
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    /* margin-top: 22px; */
    top: 0;
    height: 64px;
    border-bottom: 1px white solid;
    background-color: black;
    z-index: 999;
}

.container-anime1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.container-anime2{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animation {
    width: 402px;
    height: 300px;
    padding-right: 10px;
    padding-left: 10px;
}

.text-main-anime1 {
    width: 95%;
    height: 50%;
    color: #FFF;
    font-size: 18px;
    font-family: Better VCR;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 20px;
}

.big-border-center{
    background-color: #FFF;
    height: 1073px;
    width: 1px  ;
}

.anime-border1{
    
    height: 1px;
    width: 100%;
    background-color: #FFF;
}

hr {
    position: sticky;
    top: 40px;
    color: white;
    margin-bottom: 0;
}

.anime-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}


.api-anime1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.api-anime1-img {
    margin-top: 50px;
    height: 500px;
    width: 550px;
    box-shadow: -15px 15px #F08E8E;
    margin-bottom: 50px;
    object-fit: fill;
    animation: fromOpacity 4s;
}

.forward-arrow1{
    display: flex;
    color: #FFF;
    text-align: right;
    font-size: 40px;
    font-family: Better VCR;
    background-color: transparent;
    outline: none;
    border:none;
    cursor: pointer;
    margin-left: 30px;
    text-shadow: #F08E8E -3px 2px;
    transition: 0.5s all;
}

 .forward-arrow1:hover {
    color: #F08E8E;
    text-shadow: -3px 2px #ffffff;
    transform: scale(1.2);
  }
  
.text-main-anime-wrapper1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.api-anime2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}


.api-anime2-img {
    margin-top: 50px;
    height: 500px;
    width: 550px;
    box-shadow: 15px 15px #4273C1;
    margin-bottom: 50px;
    object-fit: fill;
    animation: fromOpacity 4s;
}

@keyframes fromOpacity {
    from {
        opacity: 0;
    }
    50% { opacity: 0;}
    to{ opacity: 1;}
}

.forward-arrow2{
    display: flex;
    color: #FFF;
    text-align: left;
    font-size: 40px;
    font-family: Better VCR;
    background-color: transparent;
    outline: none;
    border:none;
    cursor: pointer;
    margin-right: 50px;
    text-shadow: #4273C1 3px 2px;
    transition: 0.5s all;
}
.forward-arrow2:hover {
  color: #4273C1;
  text-shadow: 3px 2px #ffffff;
  transform: scale(1.2);
}

  

.anime-border2{
    height: 1px;
    width: 100%;
    background-color: #FFF;
    transform: rotate(0.5turn);
}

.text-main-anime2 {
    width: 95%;
    height: 50%;
    color: #FFF;
    font-size: 18px;
    font-family: Better VCR;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 20px;
}

html::-webkit-scrollbar {
    width: 5px;
  }
  
html::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #000000;
    border-radius: 10px;
  }
  
html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #4273C1, #F08E8E);
}

.last-nav {
    border-bottom: 1px solid white;
}