@font-face {
    font-family: Better VCR;
    src: url(../fonts/better-vcr_0.ttf);
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
}



.container-anime1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.container-anime2{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animation {
    width: 402px;
    height: 300px;
    padding-right: 10px;
    padding-left: 10px;
}

.text-main-anime1 {
    width: 95%;
    height: 600px;
    /* height: 50%; */
    color: #FFF;
    font-size: 18px;
    font-family: Better VCR;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 20px;
    overflow-y: auto;
    text-align: justify;
    line-height: 25px;
}


.big-border-center{
    background-color: #FFF;
    /* height: 1241px; */
    width: 1px  ;
}

.anime-border1{
    
    height: 1px;
    width: 100%;
    background-color: #FFF;
}

hr {
    position: sticky;
    top: 40px;
    color: white;
    margin-bottom: 0;
}

.anime-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}


.api-anime1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.api-anime1-img {
    margin-top: 50px;
    height: 30%;
    width: 60%;
    box-shadow: -15px 15px #F08E8E;
    margin-bottom: 50px;
    object-fit: fill;
    animation: fromOpacity 4s;
}

.forward-arrow1{
    display: flex;
    color: #FFF;
    text-align: right;
    font-size: 40px;
    font-family: Better VCR;
    background-color: transparent;
    outline: none;
    border:none;
    cursor: url(../img/cursor-pointer.png), pointer;
    margin-left: 30px;
    text-shadow: #F08E8E -3px 2px;
    transition: 0.5s all;
}

 .forward-arrow1:hover {
    color: #F08E8E;
    text-shadow: -3px 2px #ffffff;
    transform: scale(1.2);
  }
  
.text-main-anime-wrapper1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.api-anime2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.api-anime2-img {
    margin-top: 50px;
    height: 30%;
    width: 60%;
    box-shadow: 15px 15px #4273C1;
    margin-bottom: 50px;
    object-fit: fill;
    animation: fromOpacity 4s;
}

@keyframes fromOpacity {
    from {
        opacity: 0;
    }
    50% { opacity: 0;}
    to{ opacity: 1;}
}

.forward-arrow2{
    display: flex;
    color: #FFF;
    text-align: left;
    font-size: 40px;
    font-family: Better VCR;
    background-color: transparent;
    outline: none;
    border:none;
    cursor: url(../img/cursor-pointer.png), pointer;
    margin-right: 50px;
    text-shadow: #4273C1 3px 2px;
    transition: 0.5s all;
}
.forward-arrow2:hover {
  color: #4273C1;
  text-shadow: 3px 2px #ffffff;
  transform: scale(1.2);
}

  

.anime-border2{
    height: 1px;
    width: 100%;
    background-color: #FFF;
    transform: rotate(0.5turn);
}

.text-main-anime2 {
    width: 95%;
    height: 600px;
    color: #FFF;
    font-size: 18px;
    font-family: Better VCR;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 20px;
    overflow-y: auto;
    text-align: justify;
    line-height: 25px;
}

html::-webkit-scrollbar {
    width: 5px;
  }
  
html::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #000000;
    border-radius: 10px;
  }
  
html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #4273C1, #F08E8E);
}

.last-nav {
    border-bottom: 1px solid white;
}

.text-main-anime1::-webkit-scrollbar {
    width: 5px;
  }
  
.text-main-anime1::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #000000;
    border-radius: 10px;
  }
  
.text-main-anime1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #000000, #a7a5a5);
}

.text-main-anime2::-webkit-scrollbar {
    width: 5px;
  }
  
.text-main-anime2::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #000000;
    border-radius: 10px;
  }
  
.text-main-anime2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #000000, #a7a5a5);
}