.page-name{
    color: #FFF;
    font-size: 25px;
    font-family: Better VCR;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px; 
}

.menu{
    color: #FFF;
    text-align: right;
    font-size: 30px;
    font-family: Better VCR;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin: 0 17px 0 auto; */
    /* cursor: pointer; */
    z-index: 2;
    cursor: pointer;
}

.burger-text-menu-wrapper {
    width: 150px;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    cursor: pointer;
}

.first {
    /* margin-top: 15px; */
    top:8px
}

.second{
    top:18px
}
.third {
    /* margin-bottom: 15px; */
    top:28px
}

.fourth {
    top:18px
}


.burger-line-wrapper {
    position: relative;
    width: 35px;
    height: 35px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-around; */
    margin-right: 25px;
    margin-left: 15px;
    cursor: pointer;
}

#check-menu:checked ~ .burger-menu{
    max-height: 100vh;
    font-size: 16px;
}

#check-menu:checked ~ .burger-text-menu-wrapper .burger-line-wrapper .first {
    display: none;
}

#check-menu:checked ~ .burger-text-menu-wrapper .burger-line-wrapper .second {
    transform: rotate(45deg);
    /* width: 45px; */
    /* left: 10px; */
}

#check-menu:checked ~ .burger-text-menu-wrapper .burger-line-wrapper  .third {
    display: none;
}

#check-menu:checked ~ .burger-text-menu-wrapper .burger-line-wrapper  .fourth {
    transform: rotate(-45deg);
}

.burger-menu a {
    text-shadow: 0px 0px salmon, 0px 0px salmon, 0px 0px salmon,  0px 0px salmon;
  }

.burger-menu a:hover {
    text-shadow: -3px 3px salmon, -2px 2px salmon, 0px 0px salmon, 0px 0px salmon;
    transition: all 0.1s ease;
 }

.menu-burger {
    width: 39px;
    height: 24px;
    margin-right: 17px;
    margin-bottom: 10px;
}

#check-menu {
    display: none;
}

.burger-line {
    width: 40px;
    height: 2px;
    background-color: #FFF;
    position: absolute;
    transition: .5s all;
}


.burger-menu {
    display: block;
    position: absolute;
    width: 100%;
    transform:translateY(100%);
    bottom: 0;
    left: 0;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    /* overflow-x: auto; */
    overflow-y: auto;
    transition: .5s all;
}

.burger-menu::-webkit-scrollbar {
    width: 5px;
  }
  
.burger-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #000000;
    border-radius: 10px;
  }
  
.burger-menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #000000, #a7a5a5);
}

.burger-menu-nav{
    display: block;
    width: 100%;
    padding: 10px;
    /* color: white; */
    text-decoration: none;
    border-bottom:  1px dashed white;
    background-color: black;
    color: #FFF;
    font-size: 45px;
    font-family: Better VCR;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-left: 50px;  */
    text-align: left;
    padding-left: 90px;
    /* padding-bottom: 40px; */
    /* overflow-y: auto; */
}

#japan-flag {
    margin-left: 8px;
    display: none;
    width: 48px;
    height: 48px;
}

.last-nav {
    border-bottom: 1px solid white;
}



.nav-bar{
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: left;
    align-items: center ;
    /* margin-top: 22px; */
    top: 0;
    height: 64px;
    border-bottom: 1px white solid;
    background-color: black;
    z-index: 999;
}