@font-face {
  font-family: Better VCR;
  src: url(../fonts/better-vcr_0.ttf);
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
}

html::-webkit-scrollbar {
    width: 5px;
  }
  
html::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #000000;
    border-radius: 10px;
  }
  
html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, black, #4c4c4c);
}


.text-about{
    color: #FFF;
    font-size: 17px;
    font-family: Better VCR;
    /* margin: 40px; */
    text-indent: 20px;
    line-height: 19px;
    text-align: justify;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;


}
.text-about::-webkit-scrollbar {
  width: 5px;
}

.text-about::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #000000;
  border-radius: 10px;
}

.text-about::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #000000, #a7a5a5);
}


.text-container{
    /* width: 100%;
    height: 595px; */
    /* overflow-x: hidden;
    overflow-y: hidden; */
    background-image: url('../img/drum1.png');
    width: 100%;
    height: 1196px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

 .text-about p{
    margin: 40px;
    /* margin-bottom: 10px; */
} 
/* .text-about {
    box-shadow: inset 0 0 0 4px white;
    position: relative;
    height: 459px;
    padding: 2em;
  } */
  
  /* .text-about:before,
  .text-about:after {
    content: '';
    position: absolute;
  }
  
  .text-about:before {  
    top: 0;
    right: 2em;
    bottom: 0;
    left: 2em;
    
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
  
  
  .text-about:after {  
    top: 2em;
    right: 0;
    bottom: 2em;
    left: 0;
    
    border-left: 5px solid black;
    border-right: 5px solid black;
  } */ 

.text-wrapper{
    height: 100%;
    width: 100%;
    /* padding: 30px; */
}

hr{
    background-color: #FFF;
    margin: 0;
   
}

.img-container{
    background-image: url('../img/drum1.png');
    width: 100%;
    height: 990px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-wrapper2-part1{
    width: 100%;
    height: 330px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.text-wrapper2-part1::-webkit-scrollbar {
    width: 5px;
  }
  

.text-wrapper2-part1::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #000000;
    border-radius: 10px;
  }
  

.text-wrapper2-part1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, black, #4c4c4c);
}

.text-wrapper2-part2{
    height: 320px;
    overflow-y: auto;
    margin-top: 20px;
}

.text-wrapper2-part2::-webkit-scrollbar {
    width: 5px;
  }
  

.text-wrapper2-part2::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #000000;
    border-radius: 10px;
  }
  

.text-wrapper2-part2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, black, #4c4c4c);
}

.player-wrapper {
    display: flex;
    justify-content: center;
    /* border: 1px white solid; */
    /* margin-bottom: 30px; */
    /* cursor: url(../img/cursor-pointer.png), pointer; */
}

.general-ch{
    color: #FFF;
    font-size: 30px;
    font-family: Better VCR;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#player {
  cursor: url(../img/cursor-pointer.png), pointer; 
}

#game-container {
  width: 700px;
  height: 440px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: start;
  background-color: #FFF;
  margin-left: 70px;
  border-radius: 30px;
  margin-bottom: 30px;
}

#drum {
  width: 80px;
  height: 80px;
  background-color: red;
  border-radius: 50%;
  /* position: absolute; */
  left: 10px;
  transform: translateX(-50%);
  transition: left 0.2s;
  cursor: pointer;
  z-index: 2;
}

#drum:hover {
  background-color: darkred;
}

#score-display {
  margin-left: 60px;
  font-family: Better VCR;
}

#hit-zone {
  width: 100px;
  height: 100px;
  /* position: absolute; */
  left: 130px; /* РР·РјРµРЅРµРЅРЅРѕРµ Р·РЅР°С‡РµРЅРёРµ */
  top: 40px;
  /* cursor: pointer; */
  /* opacity: 0.3; */
  /* background-color: blue; */
  background: url(../img/drum-zone.svg);
  background-size: contain;
  border-radius: 50px;;
  margin-left: 60px;
}

#start-button {
  position: absolute;
  left: 225px;
  top: 160px;
  margin-top: auto;
  font-family: Better VCR;
  width: 250px;
  height: 150px;
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: url(../img/cursor-pointer.png), pointer; 
  /* position: relative; */
  /* bottom: 0; */
}
#start-button:hover {
  color: red;
}

.ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  transition: left 3s;
}

.game-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.game-text{
  color: #FFF;
  font-size: 15px;
  font-family: Better VCR;
  /* margin: 40px; */
  text-indent: 20px;
  width: 30%;
  height: 350px;
  margin-right: 70px;
  /* margin-left: 120px; */

}

.game-text::-webkit-scrollbar {
    width: 5px;
  }
  

.game-text::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #000000;
    border-radius: 10px;
  }
  

.game-text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, black, #4c4c4c);
} 

.game-text {
  box-shadow: inset 0 0 0 4px white;
  position: relative;
  text-align: center;
  padding: 2em;
  margin-left: 30px;
  overflow-y: auto;
}

.game-text:before,
.game-text:after {
  content: '';
  position: absolute;
}

.game-text:before {  
  top: 0;
  right: 2em;
  bottom: 0;
  left: 2em;
  
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}


.game-text:after {  
  top: 2em;
  right: 0;
  bottom: 2em;
  left: 0;
  
  border-left: 5px solid black;
  border-right: 5px solid black;
}

.cat {
  position: absolute;
  right: 180px;
  bottom: 126px;
  width: 260px;
  height: 200px;
  object-fit: contain;
  z-index: 40;
}

/* .cat-bong-etc {
  position: fixed;
}  */

.bong{
  position: absolute;
  bottom: 30px;
  right: 80px;
  width: 600px;
  height: 240px;
}

.winner-text{
  font-size: 20px;
  font-family: Better VCR;
  align-items: center;
  text-align: center;
  /* margin: auto; */
  /* vertical-align: middle; */
}
#again-button {
  background: url(../img/againBtn.svg);
  border: none;
  /* position: absolute; */
  /* right: 320px; */
  /* top: 280px; */
  /* margin-bottom: auto; */
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  /* background: transparent; */
  transition: 0.5s all;
  cursor: url(../img/cursor-pointer.png), pointer;
}

#again-button:hover {
  transform: scale(1.2);
}

.winner-text-wrapper {
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}